@import base

// -----CONTAINER-----
.container
	width: 100%
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

// -----BUTTON-----
.btn
	position: relative
	display: flex
	justify-content: center
	align-items: center
	min-height: 40px
	font-size: 14px
	color: $text
	border-radius: 5px
	max-width: fit-content
	border: 0
	background-color: $btn
	padding: 3px 50px

	&:hover,
	&:focus
		border: 0
		background: $btn
		color: $text
		box-shadow: 0 0 15px 0 rgba($btn, 1)

	&--blue, &--dark-blue, &--dark
		color: #fff

		&:hover,
		&:focus
			background-color: #445477
			box-shadow: 0 0 15px 0 rgba(#5988f0, 1)
			color: #fff

	&--blue
		background-color: #5988f0

	&--dark-blue
		background-color: #4467b5

		&:hover,
		&:focus
			background-color: #5988f0

	&--dark
		background-color: #445477

		&:hover,
		&:focus
			background-color: #5988f0


.header
	padding: 15px 0
	border-bottom: 2px solid rgba($accent, .18)
	z-index: 1000
	background-color: #fff

	&__container
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap

	&__logo
		display: flex
		justify-content: center
		align-items: center

		+r(767)
			margin-bottom: 10px
			text-align: center

		+r(480)
			flex-wrap: wrap
			text-align: center

		p
			display: flex
			flex-direction: column
			margin: 0 20px
			font-size: 16px
			font-weight: 500

			+r(1200)
				font-size: 14px
			
			+r(767)
				font-size: 12px

			+r(480)
				margin-bottom: 10px

		b
			text-transform: uppercase
			color: $accent
			font-size: 17px
			font-weight: 500

			+r(1200)
				font-size: 14px
			
			+r(767)
				font-size: 12px

		img
			+r(1200)
				width: 70px
			
			+r(480)
				order: 1
				margin: 0 10px

	&__nav
		margin-left: 30px
		font-size: 13px
		line-height: 1.2

		+r(1200)
			margin-left: 15px
		
		+r(767)
			display: flex
			justify-content: center
			width: 100%
			margin-left: 0

		&:hover,
		&:focus

			.header__nav_login
				background-color: #94b5ff
				color: #ffffff

				&::before
					transform: translate(0, -50%) rotate(135deg)
					border-color: #fff

			ul
				display: block


		ul
			position: absolute
			left: 0
			right: 0
			top: 103%
			background-color: #ffffff
			border-radius: 5px
			overflow: hidden
			box-shadow: 0 0 5px 0 rgba($text, .3)
			display: none
		
		li
			border-bottom: 1px solid #e9e9e9
			&:last-child
				border-bottom: 0

		a
			display: block
			padding: 15px 25px
			font-weight: 700
			color: $text

			+r(1200)
				padding: 10px

			&:focus,
			&:hover
				color: $accent

		&_login
			position: relative
			display: flex
			align-items: center
			padding: 10px 50px 10px 25px
			border-radius: 5px
			border: 2px solid #94b5ff
			+transition

			+r(1200)
				padding: 10px 25px 10px 10px

			&::before
				content: ''
				position: absolute
				right: 15px
				top: 50%
				transform: translate(0, -50%) rotate(-45deg)
				display: block
				width: 8px
				height: 8px
				border-bottom: 1px solid $text
				border-left: 1px solid $text
				+transition

				+r(1200)
					right: 10px
		
		&_icon
			display: flex
			justify-content: center
			align-items: center
			flex-shrink: 0
			width: 40px
			height: 40px
			overflow: hidden
			background-color: $btn
			border-radius: 50px
			margin-right: 15px

			+r(1200)
				margin-right: 5px

			img
				width: 100%
				height: auto


.hero
	padding-top: 15px
	padding-bottom: 45px
	text-align: center
	background-color: #fff

	&__container
		max-width: 860px

	&__logo
		display: block
		margin: 0 auto 5px
		max-width: 100%

		+r(767)
			width: 68%

	&__slider

		img
			margin-bottom: 10px

			+r(767)
				max-width: 60%

		p
			font-size: 14px
			font-weight: 500

		&_prev,
		&_next
			position: absolute
			top: 40%
			transform: translate(0, -50%)
			width: 20px
			height: 20px
			outline: none
			cursor: pointer
			z-index: 100
			+transition

			&::before
				content: ''
				display: block
				width: 14px
				height: 14px
				border-top: 2px solid $text
				border-left: 2px solid $text
				+transition

			&:hover,
			&:focus
				&::before
					border-color: $accent

		&_prev
			left: 10px

			&::before
				transform: rotate(-45deg)

		&_next
			right: 10px

			&::before
				transform: rotate(135deg)


.welcome
	padding: 50px 0

	&__subtitle
		font-size: 18px
		text-align: center
		margin-bottom: 45px

		+r(992)
			font-size: 16px
			margin-bottom: 30px

		+r(480)
			font-size: 14px

		br
			+r(767)
				display: none

	&__form
		background-color: #fff
		padding: 40px 60px 50px
		max-width: 500px
		width: 100%
		margin: 0 auto
		box-shadow: 0 0 15px 0 rgba($text, .3)

		+r(767)
			padding: 35px
		
		+r(480)
			padding: 15px

		&_line
			margin-bottom: 20px

			+r(480)
				margin-bottom: 10px
		
		&_remember
			+between
			margin-bottom: 30px

			+r(480)
				margin-bottom: 15px

			label
				position: relative
				padding-left: 20px
				color: #909090
				cursor: pointer
				margin-bottom: 0
				margin-right: 0
				line-height: 1.1

				&::before,
				&::after
					content: ''
					position: absolute
					left: 0

				&::before
					width: 15px
					height: 15px
					border-radius: 3px
					border: 1px solid #909090

				&::after
					width: 9px
					height: 9px
					border-radius: 3px
					border: 1px solid #909090
					background: #909090
					left: 3px
					top: 3px
					transition: all .6s

			input[type="checkbox"]
				display: none

			input[type="checkbox"]:checked + label::after
				transform: scale(1)

			input[type="checkbox"] + label::after
				transform: scale(0)

		&_btn
			display: flex
			justify-content: center


.journal
	padding: 50px 0

	h2
		text-align: center

	&__crumbs
		display: flex
		justify-content: center
		font-size: 12px
		margin-bottom: 10px

		a
			color: $text

			&:hover,
			&:focus
				color: $accent

		span
			padding: 0 3px

	&__btn
		display: flex
		justify-content: center
		margin-bottom: 30px

		.btn
			max-width: 360px
			width: 100%

	&__form
		display: grid
		grid-template-rows: 1fr 1fr
		grid-template-columns: .3fr 1fr 1fr 1fr 1fr
		grid-gap: 1px
		box-shadow: 0 0 15px 0 rgba($text, .2)
		background-color: #e8e8e8
		max-width: 815px
		margin: 0 auto 25px

		p
			display: grid
			align-items: center
			padding: 15px
			background-color: #fff
			font-weight: 700

			+r(992)
				padding: 10px
				font-size: 12px

			+r(767)
				padding: 5px

			+r(480)
				font-size: 10px

		input
			border: 1px solid #dae1f0
			border-radius: 0
			padding: 0 5px

	&__null
		max-width: 815px
		margin: 0 auto
		display: grid
		align-items: center
		padding: 15px
		background-color: #fff
		border: 1px solid #e8e8e8

	&__pagination
		text-align: center
		margin-bottom: 15px

		b
			color: $accent

	&__list
		max-width: 815px
		margin: 0 auto

		&_item
			&:nth-child(even)
				.journal__list_header
					background-color: #f1fff1
			
			&:last-child
				margin-bottom: 0

		p
			padding: 15px 20px
			font-weight: 500
			border-right: 1px solid #ededed

			+r(992)
				padding: 10px
				font-size: 12px

			+r(480)
				font-size: 10px
				padding: 5px

			&:first-child
				text-align: center

			&:last-child
				border: 0
				display: flex
				justify-content: space-between
				align-items: center

		time
			color: $accent
			margin-right: 15px

		&_header
			display: grid
			grid-template-columns: .3fr 1fr 1fr 1fr 1fr
			border: 1px solid #dae1f0
			background-color: #fff6f6
			margin-bottom: 10px
			font-size: 12px
			cursor: pointer
		
		&_content
			border: 1px solid #dae1f0
			margin-bottom: 10px

			div
				display: grid
				grid-template-columns: 1fr 5fr
				border-bottom: 1px solid #dae1f0

				+r(992)
					grid-template-columns: 2fr 5fr

				&:nth-child(odd)
					background-color: #fff

			p
				font-weight: 400

	&__site
		grid-template-columns: .3fr 1.3fr 1.1fr 1fr .7fr

	&__white
		.journal__list_header
			background-color: #fff !important
			cursor: default
			grid-template-columns: .3fr 1.3fr 1.1fr 1fr .7fr

		span
			color: $accent


.admin
	padding: 50px 0

	&__user
		background-color: #fff
		padding: 30px 55px
		text-align: center
		margin: 0 auto
		max-width: 500px
		width: 100%
		margin-bottom: 35px
		box-shadow: 0 0 10px 0 rgba($text, .2)

		+r(992)
			padding: 20px 30px

		+r(576)
			padding: 15px 20px

		.btn
			max-width: 100%
			margin-bottom: 10px

			&:last-child
				margin-bottom: 0


.new-user
	
	label
		font-weight: 700
		font-size: 16px
		margin-bottom: 15px

		+r(992)
			font-size: 14px
			margin-bottom: 5px
	
	input, select
		border-radius: 0
		border-color: #dae1f0
		color: $text

		&::placeholder
			color: $text

	select
		background-color: #f5fafa

	&__form
		background-color: #fff
		padding: 20px 35px
		max-width: 815px
		margin: 0 auto
		box-shadow: 0 0 15px 0 rgba($text, .2)

		+r(992)
			padding: 15px

	&__line
		margin-bottom: 15px

		+r(992)
			margin-bottom: 10px

	&__btn
		display: flex
		justify-content: center
		margin-top: 25px

		.btn
			max-width: 360px
			width: 100%
			background-color: #5988f0


.control
	
	&__search
		display: flex
		max-width: 815px
		margin: 0 auto 30px

		+r(992)
			margin-bottom: 15px

		&_input
			width: 100%
			height: 45px
			border: 0
			border-radius: 0
			box-shadow: 0 0 10px 0 rgba($text, .2)
			font-size: 14px

			+r(992)
				height: 35px

			&::placeholder
				font-size: 14px
				color: $text

		p
			position: relative
			display: flex
			width: 100%
			margin-right: 20px

			+r(992)
				margin-right: 10px

			button
				position: absolute
				right: 0
				top: 0
				background-color: transparent
				border: 0

				&:hover,
				&:focus
					box-shadow: 0 0 10px 0 rgba($text, .3)

		button
			display: flex
			justify-content: center
			align-items: center
			border: 2px solid $accent
			width: 45px
			height: 45px
			flex-shrink: 0

			+r(992)
				width: 35px
				height: 35px

			&:hover,
			&:focus
				background-color: #fff

		&_add
			margin-right: 20px

			+r(992)
				margin-right: 10px

		&_setting
	
	&__acardion
		max-width: 815px
		margin: 0 auto

		&_wrap
			margin-bottom: 15px
			border-bottom: 1px solid #e9e9e9
			box-shadow: 0 0 10px 0 rgba($text, .25)

			&:last-child
				margin-bottom: 0
				border-bottom: 0

		&_header
			display: flex
			justify-content: space-between
			align-items: center
			background-color: #fff
			padding: 15px 30px 15px 25px
			cursor: pointer
			outline: none
			+transition

			+r(767)
				padding: 10px 20px 10px 20px

			+r(480)
				padding: 5px 10px 5px 10px

			&:hover
				background-color: #f5fafa

			&--icon
				display: flex
				justify-content: center
				align-items: center
				width: 27px
				height: 27px
				border-radius: 50%
				flex-shrink: 0
				margin-right: 15px

				+r(480)
					margin-right: 10px
					width: 20px
					height: 20px

				img
					width: 100%
					height: auto
					border-radius: 50%

			&--text
				width: 100%
				margin-right: 15px

				+r(480)
					font-size: 12px

				span
					color: $accent
					font-size: 12px

					+r(480)
						font-size: 10px

			&--button
				display: flex

			&--edit,
			&--delete
				display: flex
				justify-content: center
				align-items: center
				background-color: transparent
				width: 33px
				height: 33px
				+transition

				+r(480)
					width: 25px
					height: 25px

				&:hover,
				&:focus
					background-color: #fff
					box-shadow: 0 0 7px 0 rgba($text, .4)

			&--edit
				border: 1px solid $accent
				margin-right: 10px

				&:hover,
				&:focus
					border: 1px solid $accent
			
			&--delete
				border: 1px solid #bd3f4e

				&:hover,
				&:focus
					border: 1px solid #bd3f4e

		&_content
			display: flex
			justify-content: space-between
			align-items: center
			background-color: #fff
			padding: 15px 30px 15px 45px
			cursor: pointer
			border-bottom: 1px solid #e9e9e9
			outline: none

			+r(767)
				padding: 10px 20px 10px 30px

			+r(480)
				padding: 5px 10px 5px 15px

			&:hover
				background-color: #f5fafa

		&_item--block
			display: flex
			justify-content: space-between
			align-items: center
			background-color: #fff
			padding: 15px 30px 15px 85px
			cursor: pointer

			+r(767)
				padding: 10px 20px 10px 40px

			+r(480)
				padding: 5px 10px 5px 25px



.footer
	background-color: $footer
	padding: 20px 0
	text-align: center
	color: rgba(#f5fafa, .55)
	font-weight: 300


// -----MODAL-----
.modal
	position: relative
	max-width: 725px
	width: 100%
	height: auto
	padding: 60px 75px 145px
	margin: 20px 0
	background-color: #fff
	z-index: 1
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.29)
	border-radius: 20px
	border: 2px solid #273a72
	display: none

	h3
		justify-content: flex-start
		margin-bottom: 50px

	&__close
		position: absolute
		right: 15px
		top: 15px
		display: block
		width: 40px
		height: 40px
		border-radius: 50%
		border: none
		cursor: pointer
		transition: all .6s
		background-color: #fff

		&:hover,
		&:focus
			outline: none
			transform: rotate(90deg)

			span
				background: red

		span
			display: block
			position: absolute
			left: 50%
			top: 50%
			background: #273a72
			transition: all .6s
			border-radius: 4px
			height: 22px
			width: 3px

			&:first-child
				transform: translate(-50%, -50%) rotate(45deg)

			&:last-child
				transform: translate(-50%, -50%) rotate(-45deg)
